{% extends 'base.html' %}

{% block title %}Appointment{% endblock %}

{% block content %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link href="/static/css/timepicker/default.css" rel="stylesheet">
<link href="/static/css/timepicker/default.date.css" rel="stylesheet">
<link href="/static/css/timepicker/default.time.css" rel="stylesheet">
<link href="/static/css/timepicker/rtl.css" rel="stylesheet">

<script src="/static/js/he.js"></script>

<form action="/appointment" method="post">

  <div class="form-group">
      <label for="sel1">Patient</label>
      <select class="form-control" id="sel1" name="patient">
          {% for p in patients %}
              <option>{{ p.first_name }} {{ p.last_name }}</option>
          {% endfor %}
      </select>
  </div>

  <div class="form-group">
      <label for="sel1">Doctor</label>
      <select class="form-control" id="sel2" name="doctor">
        {% for d in doctors %}
            <option>{{ d.first_name }} {{ d.last_name }}</option>
        {% endfor %}
      </select>
  </div>

  <p>Date: <input type="text" id="datepicker" name="appointment_date"></p>

  <p>Time: <input id="timepicker" name="appointment_time"></p>
  <button class="btn btn-lg btn-primary btn-block btn-homepage" type="submit"><span class="fa fa-user-plus" aria-hidden="true"></span> Grab</button>
</form>

{% endblock %}

{% block javascript %}
  <script src="/static/js/picker.js"></script>
  <script src="/static/js/picker.time.js"></script>

  <script>
  $( function() {

    {% if appointment_list %}
    appointments = JSON.parse( he.decode("{{ appointment_list }}") )
    {% endif %}

    debug.log(appointments)

    $( "#timepicker" ).pickatime({
      clear: '',
      interval: 30,
      min: [8,30],
      max: [18,0]

    });

    $( "#datepicker" ).datepicker({
      minDate: 0,
      maxDate: "+1M +10D",
      defaultDate: new Date(),
      onSelect: function(d,i){
          if(d !== i.lastVal){
              $(this).change();
          }
      }
    });

    var updateTimes = function(){
      if(appointments){

        var todisable = []
        var arrayLength = appointments.length;
        for (var i = 0; i < arrayLength; i++) {

          if(appointments[i].date == $( "#datepicker" ).val()){
            s = appointments[i].time;
            parts = s.match(/(\d+)\:(\d+) (\w+)/);
            hours = /am/i.test(parts[3]) ? parseInt(parts[1], 10) : parseInt(parts[1], 10) + 12;
            minutes = parseInt(parts[2], 10);

            todisable.push([hours,minutes]);
          }
        }

        $( "#timepicker" ).pickatime('set').set('disable',true);
        $( "#timepicker" ).pickatime('set').set('disable',false);
        $( "#timepicker" ).pickatime('set').set('disable',todisable);
      }
    };

    $('#datepicker').change(function(){
      updateTimes();
    });

    $("#datepicker").datepicker("setDate", "-0d");

    updateTimes();

  } );
  </script>

{% endblock %}
